body {
    font-family: sans-serif;
    background: white;
    padding: 1rem;
    background-image: url('../pics/img2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.9;

}

ul li {

    list-style-type: none !important;

}