<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the best News website </title>
    {% endif %}
</head>

<body>
    <!--ABC news section-->
    <h3>ABC News</h3>
    <ul>
        {% for abc_news in abc %}
        <li>{{ abc_news.title}}</li>
        {% endfor %}
    </ul>

    <!--CNN news section-->
    <h3>CNN News</h3>
    <ul>
        {% for cnn_news in cnn %}
        <li>{{cnn_news.title}}</li>
        {% endfor %}
    </ul>



</body>

</html>