{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Content block -->

{% block content %}


<!--ABC news section-->
<h3>ABC News</h3>
<ul>
    {{macro.displayNewsList(abc)}}
</ul>

<!-- TIME news section-->
<h3>TIME News</h3>
<ul>
    {{macro.displayNewsList(time)}}
</ul>

<!--CNN news section-->
<h3>CNN News</h3>
<ul>
    {{macro.displayNewsList(cnn)}}
</ul>

<!-- NBC news section-->
<h3>NBC News</h3>
<ul>
    {{macro.displayNewsList(nbc)}}
</ul>

<!-- FOX news section-->
<h3>FOX News</h3>
<ul>
    {{macro.displayNewsList(fox)}}
</ul>

<!--The wallstreet journal-->
<h3>The Wallstreet Journal</h3>
<ul>
    {{macro.displayNewsList(wallstreet)}}
</ul>

{% endblock%}