{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block title %} Home Page {% endblock%}

<!-- Content block -->

{% block content %}


<!--ABC news section-->
<div class="container">
    <h1 class="text-center">ABC News</h1>
    <p>

        {{macro.displayNewsList(abc)}}
    </p>

    <!-- TIME news section-->
    <h1 class="text-center">TIME News</h1>
    <p>

        {{macro.displayNewsList(time)}}
    </p>

    <!--CNN news section-->
    <h1 class="text-center">CNN News</h1>
    <p>

        {{macro.displayNewsList(cnn)}}
    </p>

    <!-- NBC news section-->
    <h1 class="text-center">NBC News</h1>
    <p>

        {{macro.displayNewsList(nbc)}}
    </p>

    <!-- FOX news section-->
    <h1 class="text-center">FOX News</h1>
    <p>

        {{macro.displayNewsList(fox)}}
    </p>

    <!--The wallstreet journal-->
    <h1 class="text-center">The wallstreet Journal</h1>
    <p>

        {{macro.displayNewsList(wallstreet)}}
    </p>

    <!-- ESPN news-->
    <h1 class="text-center">ESPN News</h1>
    <p>

        {{macro.displayNewsList(espn)}}
    </p>

</div>

{% endblock%}